*{margin: 0px;padding: 0px;box-sizing: border-box;}

header{display:flex;justify-content:space-around;position: sticky;top: 0%;background-color: aliceblue;}
ul{display: flex;
list-style: none;}
li{margin: 20px;}
.hover{color: blue;}
li:hover{color: blue;}

.partie-1{
text-align: center;
}
.partie-1 img{
    margin: 30px;

}
.partie-1 h1{
    color:#00b39b
}
.parag{
    display: flex;
    justify-content: center;
    text-align: center;
    
    

}
  p{width: 500px;
    margin:60px;
}
.carte-1{
   background-color:  #00b39b; width: 300px; height: 300px; border-radius: 8px;width: 400px; height: 400px;color: white;
}
.carte-2{
    background-color: #3d83df;width: 300px; height: 300px; border-radius: 8px;width: 400px; height: 400px;color: white;
}
.carte-3{
    background-color: #1b2734;width: 300px; height: 300px; border-radius: 8px;width: 400px; height: 400px;color: white;
}

.khedma-1{
    display: flex; text-align: center; justify-content: center;
    margin: 20px;
}
    .brands_logs{
        display: flex;
        flex-wrap: wrap;
        width: 100px;
        justify-content: center;
    }
    .site-web{
        display: flex;
    }
    .site-web ul {
        width: 1000px;
        display: flex;
        flex-wrap: wrap;
    }
    .titre-css{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00b39b;
    }
    .sous-titre{
        display: flex;
        justify-content: center;
        align-items: center;
    }
.e5er-titre{
    display: flex;
    justify-content: center;
    align-items: center;
}
.lien-titre{
    display: flex;justify-content: center;align-items: center;
}
.photos-site{display: flex;flex-wrap: wrap; justify-content:space-evenly;
margin-left: 80px;
margin-right: 80px;
}
.iamge-1{
display: flex;
justify-content: space-between;
padding: 10px;


}
.iamge-1 button{
   background-color: #3d83df; 
   padding: 10px 0;
   color: white;
   border: 1px solid #3d83df;
   border-radius: 5px;

}
.photo-1{
    margin: 10px;
}
.iamge-1:hover{
    box-shadow: 5px 10px 18px #88888830;

}
footer h4{
    text-align: center;
    padding: 15px;

}
.lien-titre button{
    background-color: #3d83df; 
    padding: 10px 0;
    color: white;
    border: 1px solid #3d83df;
    border-radius: 5px;
    margin-top: 20px;
 

}
.lien-titre a{
    text-decoration: none;
    color: white;
}
footer{
    margin-top: 40px;
}